@model List<AppUser>

<h2>Admin List</h2>
<a asp-controller="Admin" asp-action="Create">NewAdministrateur</a>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var admin in Model)
        {
            <tr>
                <td>@admin.Name</td>
                <td>@admin.Email</td>
            </tr>
        }
    </tbody>
</table>

